//General 
h3, 
h4 {
  color: #fff;
  font-family: $primary-font;
  font-size: 17px;
}

p {
  color: #fff;
  font-family: $primary-font;
  font-size: 15px;
}

ul {
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
