//General 
button {
  background-color: transparent;
}
h3, 
h4 {
  color: #fff;
  font-family: $primary-font;
  font-size: 17px;
}

p {
  color: #fff;
  font-family: $primary-font;
  font-size: 15px;
}

ul {
  font-family: $primary-font;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
